<!DOCTYPE html>
<html>
<head>
	<title>unit2 assessment</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<h1>Wacky Widgets</h1>
	<% if (!widgets.length) { %>
		<h2>No Widgets Exist!</h2>
	<% } else { %>
		<% widgets.forEach(w=> { %>
		<div>
			<section>
				<h3><%=w.description%></h3>
				<p>Quantity: <%=w.quantity%></p>
				<form action="/<%=w.id%>?_method=DELETE" method="POST">
					<input type="submit" value ="DELETE">
				</form>
		</section>
		</div>
		<% }) %>
	<% } %>	

	<hr>

	<form method ="POST" action="/">
		<h3>Add Widget</h3>
		<input type="text" name="description" placeholder="Widget Description">
		<input type="text" name="quantity" placeholder="Widget Quantity">	
		<input type="submit" value="Add Widget">
	</form>
</body>
</html>